/*------------------- #tab style ----------------------*/
.tabs {
    margin-bottom: -1px;
    margin-left: 3px;
    font-weight: bold;
    color:  #999999;
    white-space: nowrap;
    overflow-x: hidden;
}
.tab-switch {
    display: inline-block;
    padding: 3px 3px;
    background-color: #FCFCFC;
    border: 1px solid #CFCFCF;
    border-radius: 4px 4px 0px 0px;
    transition: color,background-color 0.2s;
    cursor: pointer;
}
.tab-switch.tabsw-sl {
    border-bottom-color: #fff;
    color: #278B35;
    background-color: #fff;
    cursor: default;
}
.tab-switch:not(.tabsw-sl):hover {
    color: #4BB23C;
    
}
[tab] {
    display: none;
    opacity: 0;
}
[tab].tab-sl {
    display: block;
    opacity: 1;
}