/*----------------- #Infoblock ---------------------- */
#infobox {
    /*padding: 8px 0;*/
    font-size: inherit;
	width:480px;
	position:absolute;
	left:1200px;
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#marketplace{
    font-size: inherit;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #fff;   
    position:absolute;
    max-height: 800px;
    overflow-y: auto;
}

#market_goods table, td, th{
    border: 1px solid orange;
}

.page-title {
    font-size: 1.4em;
    padding: 3px 8px 8px;
    color:#373737;
}
.mb
{
    background-color: #fff;
    border: 1px solid #D3D3D3;
    margin-bottom: 8px;
    min-height: 50px;
    overflow-x: hidden;
    padding: 8px;
}
.mb.fp
{
    padding: 8px;
}
#topcontent.mb, .topcontent
{
    background: #e9e9da;
    text-align: left;
}

.dn {
	display:none;
}