/*--------------------------------------------------------*/
/*----------------- #content block ---------------------- */
#content {
    padding: 8px 0;
    font-size: inherit;
}
.page-title {
    font-size: 1.4em;
    padding: 3px 8px 8px;
    color:#373737;
}
.mb
{
    background-color: #fff;
    border: 1px solid #D3D3D3;
    margin-bottom: 8px;
    min-height: 50px;
    overflow-x: hidden;
    padding: 8px;
}
.mb.fp
{
    padding: 8px;
}
#topcontent.mb, .topcontent
{
    background: #e9e9da;
    text-align: left;
}

/*----------------- #block def ---------------------- */
.db {
    background-color: #fff;
    border: 1px solid #CFCFCF;
    padding: 2px;
    min-height: 50px;
    -webkit-text-size-adjust: none;
}
.db.sh 
{
     margin-bottom: 2px;
     box-shadow:   0 3px 4px -2px #D8D8D8;
    -webkit-box-shadow:   0 3px 4px -2px #D8D8D8;
    -moz-box-shadow:   0 3px 4px -2px #D8D8D8;
    -o-box-shadow:   0 3px 4px -2px #D8D8D8;
}
.db:not(.map) {
    margin: 3px;
}
.db.map {
    padding: 0;
    margin: 10px 3px;
}
.tooltip-mob {
    display: none;
    text-align: right;
}
.tooltip-close 
{
    display: inline-block;
    cursor: pointer;
}
.tooltip-close:before {
  color: #000;
  display: block;
  padding: 4px;
  color: #E49123;
  border-radius: 15px;
  content: "\e81a";
  font: normal normal normal 15px/1 rt;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  width: 16px;
  height: 16px;
  text-align: center;
    transition: color, background-color .2s;
}
.tooltip-close:hover:before {
    background-color: #E49123;
    color: #ffffff;
}
/*----------------- #media #content ---------------------- */

@media (max-width: 1200px)
{
}
@media (max-width: 992px)
{
    .mb
    {
        border-left: none;
        border-right: none;
        border-top: 1px solid #D3D3D3;
        border-bottom: 1px solid #D3D3D3;
        margin: 0;
    }
}
@media (max-width: 700px) 
{
    #content {
        padding: 0px;
    }
    .tooltip-mob {
        display: block;
    }
}
@media (max-width: 556px)
{
    #content
    {
        font-size: 14px;
    }
    .mb
    {
        padding:0;
    }
    .mb.fp {
        padding: 4px;
    }
}

@media (max-width: 480px){
}




/*----------- test -------------------*/
/*

/*fl - full ; hf - 1/2 ; qr - 1/4 ; th - 1/3 ; qr-th - 3/4 ; hf-th - 2/3 *//*
.lay {
    padding:2px 0;
    /*outline: 1px solid #9789e5;*//*
}
.lay.full,.lay.hf,.lay.qr,.lay.th,.lay.th-qr,.lay.hf-th,.lay.p-dir{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 3px;
}
.lay.l {
    float: left;
}
.lay.r {
    float: right;
}
.lay.p-dir {
    padding: 3px;
    width: 49%;
}
/*----------------- #media #content ---------------------- */
/*
@media (min-width: 480px)
{
    
}
@media (min-width: 556px)
{
    .lay.qr {
        width: 49.8%;
    }
    .lay.th {
        width: 49.8%;
    }
    .lay.th-qr {
        width: 99.6%;
    }
    /*.lay.qr,.lay.th,.lay.th-qr {
        padding: 3px;
    }*//*
    .lay.p-dir {
        width: 32%;
    }
}
@media (min-width: 700px) {
    .lay.hf {
        width: 49.8%;
    }
    .lay.th {
        width: 33.2%;
    }
    .lay.hf-th {
        width: 99.6%;
    }
}
@media (min-width: 992px)
{
    .lay.full {
        width:100%;
    }
    .lay.hf-th {
        width: 66.4%;
    }
    .lay.th-qr {
        width:74.6%;
    }
    .lay.qr {
        width: 24.8%;
    }
    .lay.map {
        margin: 3px;
    }
    .lay.p-dir {
        width: 14%;
    }
}
*/